<md-dialog class="col fill">
    <div class="row header align-start-center">
        <img class="ripple" src="/mfm-wallet/img/back.svg" ng-click="close()">
        <p>Mining</p>
    </div>
    <div class="flex col content scroll input-content">
        <div class="col align-start-center"
             style="background: url('/mfm-mining/consolesole/img/ellipse_13.svg'); background-size: cover;
         padding-top: 60px">
            <p class="size12 uppercase">Last reward</p>
            <p class="size40 bold">{{formatAmount(last_reward, domain)}}</p>
            <p class="size12">{{formatAmount(balance, domain)}} in bank</p>
            <p class="size10 gray300-text mt8">Difficulty {{difficulty}}</p>
        </div>
        <div class="col">
            <div class="row align-center-center mb16">
                <p>UI can be blocked while mining. Please be patient.</p>
            </div>
            <div class="row">
                <md-progress-linear class="flex" md-mode="indeterminate" ng-show="inProgress"></md-progress-linear>
            </div>
            <div class="row">
                <div class="flex primary-button" ng-click="startMining()" ng-hide="inProgress">
                    Start
                </div>
                <div class="flex primary-button red-back" ng-click="stopMining()" ng-show="inProgress">
                    Stop
                </div>
            </div>
        </div>
        <!--<ng-include src="'/wallet/tran/trans.html'"></ng-include>-->
    </div>

</md-dialog>