<md-dialog class="fill col block">
    <div class="row header align-start-center">
        <div class="flex row align-start-center">
            <div ng-style="getLogo(domain)"></div>
            <p class="ml16">{{formatTicker(domain)}}</p>
        </div>
        <div class="row align-center-center img32 back-gray radius-default ripple" ng-click="close()">
            <img class="img16 img-gray400" src="/mfm-wallet/img/close.svg">
        </div>
    </div>
    <div class="flex col scroll">
        <div class="flex col block">
            <div class="col mh16 align-start-center"
                 style="background: url('/mfm-mining/console/img/ellipse_13.svg'); background-size: 100% 100%;
         padding-top: 60px">
                <p class="size12 uppercase">{{str.last_reward}}</p>
                <p class="size40 bold">{{formatAmount(last_reward, domain)}}</p>
                <p class="size12">{{formatAmount(balance, domain)}} {{str.in_bank}}</p>
                <p class="size10 mt8">{{str.difficulty}} {{formatAmount(difficulty)}}</p>
                <p class="size10 mt8">{{str.round}} {{formatAmount(round_seconds)}}</p>
                <p class="size10 mt8">{{str.speed}} {{formatAmount(speed)}}</p>
            </div>
            <div class="col">
                <div class="row">
                    <div class="flex primary-button"
                         ng-click="startMining()"
                         ng-disabled="balance == 0"
                         ng-hide="in_progress">
                        {{str.start}}
                    </div>
                    <div class="flex primary-button back-red"
                         ng-click="stopMining()"
                         ng-show="in_progress">
                        {{str.stop}}
                    </div>
                </div>
            </div>
            <div class="col mh16 mt16">
                <ng-include src="'/mfm-wallet/wallet/accounts.html?nocache'"></ng-include>
            </div>

            <ng-include src="'/mfm-wallet/trans/trans.html'"></ng-include>

            <div class="nowrap-disabled mh16" id="mfm-mining-readme"></div>
        </div>
    </div>
</md-dialog>